{% extends "base.html" %}

{% block content %}

<h3>ЛК СТУДЕНТ</h3>

<p>Если это твой первый вход то заполни данные в разделе Личные данные</p>

{% for s in student %}
<nav>
    <button><a href="{% url 'home' %}">Домашняя страница</a></button>
    <button><a href="{% url 'stud_detail' s.id %}">Личные данные</a></button>
    <button><a href="{% url 'vacancy_board_stud' %}">Найти стажировку</a></button>
    <button><a href="{% url 'logout' %}">Выйти</a></button>
</nav>

<ul>
    <li>Логин: <p>{{ s.name }}</p></li>
    <li>ФИО: <p>{{ s.initials }}</p></li>
    <li>Телефон: <p>{{ s.phone }}</p></li>
    <li>О себе: <p>{{ s.about }}</p></li>
    <li>Скиллы:
        {% for sk in s.my_skill.all %}
            <ul>{{ sk.name }}</ul>
        {% endfor %}
    </li>
</ul>
{% endfor %}


{% endblock %}