.radio_btn {
	display: inline-block;
	margin-right: 10px;
}

.radio_btn input[type=radio] {
	display: none;
}

.radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 2px solid #005BAA;
	margin: 0;
	margin-left: -5px;
	text-align: center;
	color: white;
	font-weight: bold;
	user-select: none;
}
label:first-of-type {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: none;
}
label:last-of-type {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left-width: 1px;
}

/* Checked */
.radio_btn input[type=radio]:checked + label {
	background: #005BAA;
}

/* Hover */
.radio_btn label:hover {
	color: #005BAA;
}



/* Disabled */
.radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}
