{% extends "base.html" %}

{% block content %}
<h1>Доска моих стажировок</h1>

<button><a href="{% url 'employer_page' %}">Назад</a></button>

{% for v in vacancies %}

<ul>
    <li>
        <h3><p>{{ v.title }}</p></h3>
        <h4><p>{{ v.owner.name_org }}</p></h4>
        <p>{{ v.content }}</p>
        <p>Навыки:</p>
        {% for sk in v.skills.all %}
            <ul>
                <li>{{ sk.name }}</li>
            </ul>
            <p></p>
        {% endfor %}
    </li>
</ul>

{% endfor %}

{% endblock %}